@use '@angular/material' as mat;
@include mat.core();

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$chartreuse-palette,
    typography: Roboto,
    density: 0
  ));
}

// Reset global e tipografia
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
